/* Style pour le corps de la page */
body {
  background: linear-gradient(to bottom, #acd0f3, #5497e4);
  font-family: Arial, sans-serif;
}
/* Style pour l'image */
img {
  float: left; /* Alignement à gauche */
  margin-right: 20px; /* Marge à droite */
  transform: scale(0.75); /* Réduire la taille de l'image */
  border: 2px solid #aacbee; /* Bordure pour l'image de couleur */
  padding: 2px;
}
/* Style pour le titre */
h1 {
  display: flex;
  border: 2px solid #274363; /* Encadrement */
  padding: 10px; /* Espacement intérieur */
  font-size: 36px; /* Taille de police */
  color: #022144; /* Couleur du texte */
  text-align: center; /* Centrage horizontal */
  background-color: white;
}
/* Style pour les sous-titres */
h2 {
  padding: 10px; /* Espacement intérieur */
  font-size: 36px; /* Taille de police */
  color: #033369; /* Couleur du texte */
  text-decoration: underline;
}
/* Style pour le bouton */
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #0d6efd;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #aacbee;
}

/* Style pour le footer */
footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-top: 4px solid #274363;
}

/* Style des éléments du footer */
footer p {
  margin: 0;
  font-size: 30px;
}

/* Pour tous les boutons */
button,
input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Pour les boutons de lien */
a.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Style général des modals */
.modal {
  display: none; /* Masque la modal par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Style du contenu de la modal */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Affiche la modal lorsqu'elle est ouverte */
.modal.show {
  display: block;
}
/* Media query pour les écrans de largeur maximale de 767 pixels */
@media screen and (max-width: 767px) {
  /* Style pour les titres */
  h1 {
    font-size: 30px; /* Réduire la taille de police */
  }
  h2 {
    font-size: 25px; /* Réduire la taille de police */
  }

  /* Masquer l'image */
  img {
    display: none;
  }

  /* Style pour le texte du titre */
  .title-text {
    margin-left: 0; /* Supprimer l'espacement à gauche */
    margin-top: 10px; /* Ajouter un espacement en haut */
  }

  /* Style pour le footer */
  footer {
    position: relative;
    margin-top: auto; /* Définir une marge automatique en haut pour pousser le footer vers le bas */
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    padding: 10px;
  }

  /* Style pour les éléments du footer */
  footer p {
    margin: 0;
    font-size: 16px; /* Réduire la taille de police */
  }
}
